.button-travel{

                background-color: black;
                color:white;
                border: none;
                font-size: 12px;
}

.button-tags {
                 background-color: #f1f1f1;
                 border: none;
                 font-size: 12px;
}
.button1{
                  
                 width: 90px;
                 height: 50px;
                 color: #fff!important;
                 background-color: #000!important;
                 cursor: not-allowed;
                 opacity: 0.3;
                 border: none; 

}
.button1:hover {
                 color:#000!important;background-color:#ccc!important;
                 border: none;     
}

.button2 {
                width: 90px;
                height: 50px;
                background-color: black;
                color: #ccc;
                border: none; 
}
.button2:hover{
                background-color: #ccc;
                color: #000;
}                